@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100&display=swap');

.page{
    background-color: #A68B6E;
    height: 93vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cont-navbar {
    background-color: #A68B6E;
}

.cont-content {
    border: 0.2rem white solid;
    border-radius: 15rem;
    margin: 1rem;
}

.page h1 {
    padding: 0  8rem;
    border: 1px white;
    color: white;
    margin: 0;
    align-items: center;
    font-size: 8rem;
    font-family: 'Hanken Grotesk', sans-serif;
    text-align: center;
}

.vl {
    border-left: 4px solid white;
    height: 10rem;
}